.container {
  display: grid;
  gap: 8px;
  padding: 10px;
  background-color: #fff;
  align-items: center;
  grid-template-columns: 24px auto 24px 24px;
}

.deleteBtn,
.modifyBox {
  width: 24px;
  height: 24px;
  align-items: center;
  text-align: center;
  padding: 0;
}

.trash,
.pen {
  margin: auto;
  align-items: center;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.checkBox {
  margin: auto;
  cursor: pointer;
  width: 20px;
  height: 20px;
  align-items: center;
}

.todoName {
  font-size: 18px;
  color: #6b6b6b;
}

.time {
  padding-top: 4px;
  font-size: 12px;
  color: #949494;
}

.completed {
  text-decoration: line-through;
}

.saveBtn {
  color: #fff;
  background-color: #016bd3;
  padding: 6px;
  border-radius: 5px;
  border: none;
}

.saveBtn:hover {
  background-color: #0e8cff;
  cursor: pointer;
}

.modifyInput {
  padding: 6px;
  border: none;
  color: #676881;
  background-color: #ecedf5;
  border-radius: 7px;
  margin-right: 4px;
}
