.container {
  margin: auto;
  max-width: 480px;
  padding: 14px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
}

.title {
  text-align: center;
  font-weight: bold;
  padding: 12px;
  color: #676881;
  font-size: 22px;
}

.todosWrapper {
  background-color: #ecedf5;
  padding: 20px;
  display: grid;
  gap: 10px;
  border-radius: 18px;
  margin-top: 14px;
}

.EmptyTodo {
  color: red;
}
